<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a routerLink="/login" class="navbar-brand" href="#">Hospital Badim</a>
</nav>

<div class="modal-dialog text-center">
  <div class="col-sm-8 main-section">
    <div class="modal-content">
<div class="col-12 form-input">
  <form>
    <div class="form-group">
      <div class="">
        <div class=""> <!--Usuário-->
          <label class="col-sm-10 control-label" for="usuario">Usuário</label>
          <input [(ngModel)]="usuario.nome" type="text" class="form-control" id="usuario" name="usuario"
              placeholder="Digite seu Login ou E-mail.">
        </div>
      </div>

      <div class="form-group">
      <div class=""> <!--Senha-->
          <label class="col-sm-10 control-label" for="senha">Senha</label>
          <input [(ngModel)]="usuario.senha" type="password" class="form-control" id="senha" name="senha"
              placeholder="Digite sua senha.">
      </div>
    </div>

      <button type="submit" class="btn btn-primary btn-lg" id="btnLogin"
          (click)="fazerLogin()">
          Login
      </button>
  </div>

</form>
</div>
</div>
</div>
</div>
