body {
  font-family: 'Roboto', sans-serif;
  background-size: cover;
}

.main-section {
  margin: 0 auto;
  margin-top: 150px;
  padding: 0;
}

.modal-content {
  background-color: #DCDCDC;
  border-radius:15px;
  padding-top: 20px;
}

.control-label {
  margin-top: 10px;
  font-weight: bold;
  right: 40%;
}

.form-group {
  margin-bottom: 20px;
}

button {
  margin-bottom: 25px;
}

.ng-invalid.ng-touched:not(form){
  border: 1px solid red;
}