<br>
<div class="list-group">
  <a class="list-group-item list-group-item-action">
    <div class="card text-center">
      <div class="card-header">Almoxarifado</div>
      <div class="card-body">
        <h5 class="card-title">Check list do recebimento</h5>
        <p class="card-text">Registrar as notas fiscais entregues e mais algumas observações.</p>
        <a [routerLink]="['./formulario-recebimento']" class="btn btn-primary">Vamos lá</a>
      </div>
      <div class="card-footer text-muted">2 days ago</div>
    </div>
  </a>
</div>
